DEMO=false

JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_JQL='sprint in openSprints() ORDER BY key'

ANALYTICS_START=
ANALYTICS_END=
ANALYTICS_TIMEZONE=UTC
JIRA_PARALLELISM=6
REQUEST_TIMEOUT_SECONDS=120
DASHBOARD_ADDR=127.0.0.1:8080
